name: uts_pemob_quiz
description: Kuis Aplikasi Teknologi
version: 1.0.1+2

environment:
  sdk: '^3.9.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  google_fonts: ^6.1.0

flutter:
  uses-material-design: true
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
 